*.iml
._*
.gradle/
/local.properties
/.idea/caches
.idea/.name
/.idea/libraries
/.idea/gradle.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/tasks.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.DS_Store
.DS_Store?
/*/build/
/captures
.externalNativeBuild
.cxx
.signing/
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
com_crashlytics_export_strings.xml